<div [ngClass]="{online: isOnline}" class="wrapper">
    <div class="body">
        <div class="picture">
            <img src= "{{url}}" alt="Online">
            <p [ngClass]="{online: isOnline}">{{isOnline ? "Online" : "Offline"}}</p>
            
        </div>
        <div class="user-data">
            <h2>{{name}}</h2>
            <div class="post-text">{{status}}</div>
        </div>
    </div>
    <button (click)="isOnline = !isOnline" class="network">{{isOnline ? "Online" : "Offline"}}</button>
</div>
